.header-page {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 144px;
	background-color: $background-color-title;
	z-index: 100;
	overflow: hidden;

	&-container {
		display: flex;
		justify-content: space-between;
		padding: 17px 15px 0;

		.box-logo {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.logo {
				width: 229px;
				height: 73px;
				display: block;
			}

			.box-menu {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				&-item {
					padding: 12px 71px 9px;
					background-color: transparent;
					transition: all 0.3s;
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;

					a {
						color: #fff;
						font-size: 20px;
						font-weight: 600;
						line-height: 24px;
						text-transform: uppercase;
					}

					&:hover {
						background-color: #ddd;
						cursor: pointer;

						a {
							color: $background-color-title;
						}
					}

					&.active {
						background-color: #fff;

						a {
							color: $background-color-title;
						}
					}


				}
			}
		}

		.box-user {
			display: flex;
			flex-direction: column;
			gap: 10px;
			align-items: flex-end;

			&-action {
				display: flex;
				align-items: center;
				gap: 8px;

				&-cart {
					width: 68px;
					height: 68px;
					background-image: url("../../images/iconCart.svg");
					background-repeat: no-repeat;
					background-size: cover;
					cursor: pointer;
				}

				&-line {
					height: 64.3%;
					width: 1px;
					background-color: #fff;
					margin: 0 10px;
				}

				&-info {
					.name {
						color: #fff;
						font-size: 18px;
						font-weight: 600;
						line-height: 27.83px;
						max-width: 110px;
						display: block;
					}

					.number-bid {
						width: 85px;
						height: 32px;
						background-image: url("../../images/iconNumberBid.svg");
						background-repeat: no-repeat;
						background-size: cover;
						display: flex;
						justify-content: center;
						align-items: center;

						span {
							font-size: 12px;
							font-weight: 700;
							line-height: 1.25;
							color: $color-text-price;
							margin-left: 25px;
							text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
								1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
						}
					}
				}

				&-avt {
					width: 73px;
					height: 73px;
					border-radius: 50%;
					background-color: #fff;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					cursor: pointer;
				}
			}

			&-date {
				margin-top: 12px;
				display: flex;
				align-items: center;
				justify-content: center;

				span {
					color: #fff;
					font-size: 16px;
					font-weight: 500;
					line-height: 24.42px;

					&:last-child {
						text-transform: capitalize;
					}
				}

				.line {
					height: 64.6%;
					width: 1px;
					display: inline-block;
					background-color: #fff;
					margin: 0 10px;
				}
			}

			&-btn-login {
				padding: 7px 32px;
				background-color: #fff;
				border-radius: 20px;
				color: $background-color-title;
				font-size: 22px;
				font-weight: 700;
				line-height: 26.63px;
				cursor: pointer;

				&:hover {
					background-color: #ddd;
					transition: all 0.3s;
				}
			}
		}
	}
}

.header-mobile-page {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 17px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: $background-color-title;
	z-index: 100;

	.logo-mobile {
		display: block;
		width: 144px;
		height: 46px;
		background-image: url(../../images/logoMobile.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&.is-login {
			width: 48px;
			height: 48px;
			background-image: url(../../images/logoMobileUser.svg);
		}
	}

	.button-login {
		background-color: #fff;
		border: none;
		outline: none;
		padding: 5px 16px;
		border-radius: 20px;
		font-size: 16px;
		font-weight: 700;
		line-height: 19.36px;
		color: $background-color-title;
	}

	.box-logo {
		display: flex;
		align-items: center;
		gap: 10px;

		&-info {
			display: flex;
			flex-direction: column;
			gap: 5px;

			&-name {
				color: #fff;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
			}

			&-number-bid {
				width: 57px;
				height: 21px;
				background-image: url("../../images/iconNumberBidMobile.svg");
				background-repeat: no-repeat;
				background-size: cover;
				display: flex;
				justify-content: center;
				align-items: center;

				span {
					font-size: 10px;
					font-weight: 700;
					line-height: 1.25;
					color: $color-text-price;
					margin-left: 12px;
					text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
						1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
				}
			}
		}
	}

	.box-right {
		display: flex;
		align-items: center;
		gap: 12px;

		&-time {
			.box-user-date-mobile {

				display: flex;
				flex-direction: column;
				align-items: flex-end;

				span {
					font-size: 10px;
					font-weight: 500;
					line-height: 12.1px;
					color: #fff;

					&:last-child {
						text-transform: capitalize;
					}
				}

			}
		}

		&-bid {
			width: 41px;
			height: 41px;
			background-image: url("../../images/iconCartMobile.svg");
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

}

@media (max-width: 1400px) {
	.header-page {

		&-container {

			.box-logo {

				.box-menu {

					&-item {
						padding: 12px 51px 8px;

						a {
							font-size: 18px;
							line-height: 25px;
						}
					}
				}
			}

			.box-user {
				&-action {
					&-info {
						.name {
							font-size: 16px;
							max-width: 200px;
						}

						.number-bid {
							span {
								font-size: 12px;
							}
						}
					}
				}

				&-date {
					span {
						font-size: 14px;

					}
				}
			}
		}
	}
}

@media (max-width: 1150px) {
	.header-page {
		&-container {
			.box-logo {
				.box-menu {
					&-item {
						padding: 12px 38px 8px;

						a {
							font-size: 17px;
							line-height: 25px;
						}
					}
				}
			}

			.box-user {
				&-action {
					&-info {
						.name {
							font-size: 16px;
							max-width: 90px;
						}

						.number-bid {
							span {
								font-size: 12px;
							}
						}
					}
				}

				&-date {
					span {
						font-size: 14px;

					}
				}
			}
		}
	}
}