@import "./Header.scss";
@import "./RightHistory.scss";
@import "./Footer.scss";


.main-layout {
	.icon-router-event-lucky-moon{
		position: fixed;
    	z-index: 9999;
    	top: calc(50% - 226px);
		display: flex;
		flex-direction: column;
		align-items: center;
		left: calc((100vw - 1637px) / 2 - 150px);
		gap: 80px;

		@media (min-width: 992px){
			top: 50%;
			transform: translate(0px, -50%) !important;
		}

	&-item{
		position: relative;

		i{
			position: absolute;
			top: -10px;
			right: 0;
			font-size: 24px;
			color: gray;
			cursor: pointer;
			// width: 30px;
			// height: 30px;
			// display: flex;
			// justify-content: center;
			// align-items: center;
			// background-color: black;
			// border-radius: 50%;
		}

		&:first-child{
			i{
				right: -20px;
			}
		}

		.icon-close-event-thading{
			right: 18px;
    		top: 0px;
		}
	}

	.router-event-lucky-spin , .router-event-thading{
		cursor: pointer;
	}

	.router-event-thading{
		width: 150px;
	}

	@keyframes spin {
		0% {
		  transform: rotate(0deg);
		}
		100% {
		  transform: rotate(360deg);
		}
	  }

	  .router-event-lucky-spin{
		animation: spin 4s linear infinite;
	  }

		@media (max-width: 1960px){
			left: 20px;
		}

		@media (max-width: 1400px){
			// right: 10px;
			// left: inherit;
			// bottom: 110px;
			// top: auto;
			// right: 10px;
			// gap: 50px;

			.icon-router-event-lucky-moon-item:last-child{
				max-width: 180px;
			}

			i{
				right: -6px !important;
        		top: -14px;
			}

			.icon-close-event-thading{
				right: 44px !important;
				top: 2px;
			}
		}

		@media (max-width: 768px){
			gap: 30px;
			left: inherit;
			bottom: 110px;
			top: auto;
			right: 10px;

			.icon-router-event-lucky-moon-item{
				max-width: 60px;

				i{
					font-size: 18px;
				}
			}

			.icon-router-event-lucky-moon-item:last-child{
				max-width: 120px;
			}

			.icon-close-event-thading{
				right: 12px !important;
				top: -4px;
			}

			.router-event-thading{
				width: 90px;
				right: 12px;
				top: -4px;
			}
		}
	}

	&-body {
		padding: 155px 15px 20px;
		display: flex;

		&-page {
			display: inline-block;
			width: calc(100% - 436px);

			@media (min-width: 992px) and (max-width: 1200px) {
				width: calc(100% - 336px);
			}
		}
	}

	@media (max-width: 576px) {
		&-p-0 {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@media (max-width: 991.98px) {
	.main-layout {
		&-body {
			padding-top: 80px;

			&-page {
				width: calc(100%);
			}
		}
	}
}


@media (max-width: 768px) {
	.main-layout {
		&-body {
			padding-top: 80px;

			&-page {
				margin-right: 0;
			}
		}
	}
}