.container-home {
	display: flex;
	flex-direction: column;
	gap: 18px;

	&-banner {
		display: block;
		max-width: calc(1577px - 393px - 13px);
		overflow: hidden;

		.ant-carousel {
			.slick-dots {
				.slick-active {
					button {
						width: 100%;
						background-color: #AFAFAF;
						border-radius: 5px;
					}
				}

				button {
					width: 9px;
					height: 9px;
					background-color: #D9D9D9;
					border-radius: 50%;
					opacity: 1;

				}
			}
		}


		&-item {
			// padding-top: 25.53%;
			height: 229px;
			background: #5A5A5A;

		}
	}
}